body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:130px;
  width:410px;
  height:180px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:180px;
}
#u3 {
  position:absolute;
  left:2px;
  top:82px;
  width:406px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:214px;
  top:342px;
  width:473px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:325px;
  top:410px;
  width:240px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
