body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
  text-align:right;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:38px;
  width:121px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:60px;
  top:78px;
  width:436px;
  height:43px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:43px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:398px;
  top:182px;
  width:161px;
  height:36px;
  font-size:16px;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:434px;
  top:238px;
  width:125px;
  height:32px;
  font-size:16px;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:408px;
  top:290px;
  width:151px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:412px;
  top:343px;
  width:147px;
  height:18px;
  font-size:16px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:578px;
  top:173px;
  width:242px;
  height:36px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:578px;
  top:229px;
  width:85px;
  height:36px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:578px;
  top:281px;
  width:242px;
  height:36px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:578px;
  top:333px;
  width:242px;
  height:36px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:687px;
  top:229px;
  width:85px;
  height:36px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:185px;
  top:481px;
  width:530px;
  height:18px;
  font-size:16px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:61px;
  top:140px;
  width:280px;
  height:279px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:279px;
}
#u22 {
  position:absolute;
  left:2px;
  top:133px;
  width:276px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:61px;
  top:359px;
  width:139px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:60px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:359px;
  width:141px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:137px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:220px;
  top:584px;
  width:0px;
  height:-170px;
}
#u27_seg0 {
  position:absolute;
  left:-10px;
  top:-174px;
  width:20px;
  height:184px;
}
#u28 {
  position:absolute;
  left:-50px;
  top:-93px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:185px;
  top:604px;
  width:348px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:608px;
  top:120px;
  width:212px;
  height:43px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:43px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
